{% extends 'base.twig' %}

{% block title %}Sign-in{% endblock %}

{% block content %}
    <form data-cy="sign-in"  action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">

        <label for="email"><b>Email: </b></label>
        <input data-cy="sign-in__email" type="text" name="email" value="{% if formData.email %}{{ formData.email }}{% endif %}">
        {% if formErrors.email %}
            <p data-cy="sign-in__wrongEmail" style="color: red;">{{ formErrors.email }}</p>
        {% endif %}

        <label  for="passwd"><b>Password: </b></label>
        <input data-cy="sign-in__password" type="password" name="passwd" value="{% if formData.passwd %}{{ formData.passwd }}{% endif %}"><!--No s'hauria de guardar la contra però l'enunciat diu que tot-->
        {% if formErrors.passwd %}
            <p data-cy="sign-in__wrongPassword" style="color: red;">{{ formErrors.passwd }}</p>
        {% endif %}

        <input data-cy="sign-in__btn" type="submit" value="Send">
    </form>
{% endblock %}