{% extends 'base.twig' %}

{% block title %}Sign-up{% endblock %}

{% block content %}
    <form data-cy="sign-up" action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">


        <label for="email"><b>Email: </b></label>
        <input data-cy="sign-up__email" type="text" name="email" value="{% if formData.email %}{{ formData.email }}{% endif %}">
        {% if formErrors.email %}
            <p data-cy="sign-up__wrongEmail" style="color: red;">{{ formErrors.email }}</p>
        {% endif %}




        <label for="passwd"><b>Password: </b></label>
        <input data-cy="sign-up__password" type="password" name="passwd" value="{% if formData.passwd %}{{ formData.passwd }}{% endif %}">
        <!--No s'hauria de guardar la contra però l'enunciat diu que tot-->


        <label for="passwd2"><b>Repeat: </b></label>
        <input data-cy="sign-up__repeatPassword" type="password" name="passwd2" value="{% if formData.passwd2 %}{{ formData.passwd2 }}{% endif %}">
        {% if formErrors.passwd %}
            <p data-cy="sign-up__wrongPassword" style="color: red;">{{ formErrors.passwd }}</p>
        {% endif %}
        <!--No s'hauria de guardar la contra però l'enunciat diu que tot. Estic trist ^^'.-->

        <label for="birth">Birthdate (optional): </label>
        <input data-cy="sign-in__birthday" type="text" id="birth" placeholder="dd/MM/YYYY" name="birth" value="{% if formData.birth %}{{ formData.birth }}{% endif %}">
        {% if formErrors.birth %}
            <p data-cy="sign-up__wrongBirthday" style="color: red;">{{ formErrors.birth }}</p>
        {% endif %}




        <input data-cy="sign-up__btn" type="submit" value="Send">
    </form>




{% endblock %}